@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600,700);
.formero-default {
    font-family: 'Signika', sans-serif;
    width: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0px 20px 20px 20px;
}

.formero-steps {
    height: 40px;
    line-height: 40px;
}

.formero-step-label {
    float: left;
    width: 33.33%;
    text-align: center;
    /*background-color:#ccc;*/
}

.formero-step-label a {
    text-decoration: none;
    color: #ccc;
    transition: all 300ms ease;
}

.formero-step-label a:hover {
    color: #9FB9DB;
}

.formero-step-label.formero-step-active a {
    color: #578ACF;
}

.formero-step-content {
    width: 100%;
    display: none;
}

.formero-step-content.formero-step-active {
    display: block;
}

.formero-grid {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.formero-field-label {
    display: block;
    text-align: left;
    margin-left: 7px;
    transition: all 300ms ease;

}
.formero-field-label.invalid,#formero-goodbye-text.invalid{
	color: #E73E3E;
}
.formero-field.invalid{
	border: 1.5px solid #E73E3E;
}

.formero-field-label.valid,#formero-goodbye-text.valid{
	color: #29DB29;
}
.formero-field.valid{
	border: 1.5px solid #29DB29;
}

.formero-field {
    padding: 8px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 300ms ease;
}

.formero-field:active,
.formero-field:focus {
    border: 1.5px solid #9FB9DB;
    outline: 0;
}

.formero-button {
    border: 0;
    padding: 10px 40px;
    margin: 13px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    transition: all 300ms ease;
}

.formero-button:hover{
	opacity: 1;
}

.formero-button:active,
.formero-button:focus {
    outline: 0;
}

.formero-button.formero-next{
	background-color: #578ACF;
}

.formero-button.formero-previous{
	background-color: #ccc;
}

.formero-button.formero-success{
	background-color: #29DB29;
}

.formero-button.formero-disabled, .formero-button:disabled{
	background-color: #ddd;
}

#formero-goodbye-text{
	text-align: center;
}